body {
    text-align: center;
    background-color: rgb(243, 144, 177);
  }
header{
    color: azure;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 400px;
    
}
header h1:hover{
    color: black;

}
img {
    display: block;
    margin: 0 auto;
    width: 150px;
}

main h1 {
    color: black;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: medium;
}   
    

main h2 {
    color: azure;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    

}

footer {
    max-width: 350px;
    display: block;
    margin: 0 auto;
}
